@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

html,
body {
	margin: 0;

	font-family: Montserrat, sans-serif;
	background: white;
	transition: all 0.7s;
}

body.active {
	background: black;
}

h1 {
	color: black;
	transition: all 0.7s;
}

h1.active {
	color: white;
	transition: all 0.7s;
}


#master-grid {
	display: grid;
	min-height: 100vh;
	/* 	background: red; */

	grid-template-columns: 10% 40% 40% 10%;
	grid-template-rows: 50px 1fr auto;
	grid-template-areas:
		"navbar-left header header navbar-right"
		". main main ."
		"footer footer footer footer";
}
#navbar-left {
	grid-area: navbar-left;
	/* background: aqua; */
	padding: 25px;
	position: fixed;
	font-size: 2em;
	z-index: 1;

	filter: invert(1);
	mix-blend-mode: difference;

}

#navbar-right {
	grid-area: navbar-right;
	/* background: yellow; */
	padding: 25px;
	right: 0;
	position: fixed;
	font-size: 2em;
	z-index: 1;
	
	filter: invert(1);
	mix-blend-mode: difference;
}

#navbar-left span{

	display: inline-flex;
  }
  
  #navbar-left span:nth-child(even){
	overflow: hidden;
	transition: ease-in-out 0.5s;
	letter-spacing: -1em;
  }
  
  #navbar-left:hover span:nth-child(even){
	letter-spacing:0;
  }
  

#body {
/* background: violet; */

	grid-area: main;
	display: grid;
	grid-template-rows: 85vh;

	grid-template-areas:
		"start"
		"content"
		"contact";
}

#content{
	/* background-color: indianred; */
	grid-area: content;

	display: grid;

	grid-gap: 25px;

	grid-template-areas:
		"beerpong influence github"
		"codepen codepen codepen"
		"contact contact contact";

		--stagger-delay: 100ms;
}


#start {
	grid-area: start;
	font-size: 40px;
	vertical-align: center;
	margin: auto 0 auto 0;

	/* 	background: orange; */
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#beerpong::before {
	content: "BEER PONG";
	color: white;
	font-weight: bold;
	position: absolute;
	margin-top: -30px;
	margin-left: 10px;
	font-size: 200%;

	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	 -ms-animation: fadein 2s; /* Internet Explorer */
	  -o-animation: fadein 2s; /* Opera < 12.1 */
		 animation: fadein 2s;

}

#beerpong {
	animation-delay: calc(10 * var(--stagger-delay));

	grid-area: beerpong;
	background: darkgray;

	background-size: 105%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	padding-top: 100%;
	/* background-image: url("https://www.dropbox.com/s/mrw4lg8ljlk9uhd/bpTitle.png?dl=1"); */
}

#beerpong img {
	opacity: 0;
}

#beerpong:hover {
	background-image: url("https://www.dropbox.com/s/9duz6trkjf6vur5/BPStorePhoto.png?dl=1");
}
#influence::before {
	content: "INFLUENCE";
	color: white;
	font-weight: bold;

	position: absolute;
	margin-top: -30px;
	margin-left: 10px;
	font-size: 200%;
}

#influence {
	animation-delay: calc(11 * var(--stagger-delay));
	padding-top: 100%;
	grid-area: influence;
	background: #918100;

	background-size: 105%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	/* background-image: url("https://www.dropbox.com/s/yvszryycjz406f6/influenceTitle.png?dl=1"); */
}

#influence img {
	opacity: 0;
}

#influence:hover {
	background-image: url("https://www.dropbox.com/s/2fh5vcg5seg258g/Influence.png?dl=1");
}
#github::before {
	content: "GIT HUB";
	color: white;
	font-weight: bold;

	position: absolute;
	margin-top: -30px;
	margin-left: 10px;
	font-size: 200%;
}

#github {
	animation-delay: calc(12 * var(--stagger-delay));
	padding-top: 100%;
	grid-area: github;
	background: #1d6ecc;

	background-size: 105%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	/* background-image: url("https://www.dropbox.com/s/ba20ia1aypm8yhx/githubTitle.png?dl=1"); */
}

#github img {
	opacity: 0;
}

#github:hover {
	background-image: url("https://www.dropbox.com/s/l9oksz1oz8d1e9d/github.png?dl=1");
}
#codepen::before {
	content: "CODE PEN";
	color: white;
	font-weight: bold;
	
	position: absolute;
	margin-top: -30px;
	margin-left: 10px;
	font-size: 200%;
}

#codepen {
	animation-delay: calc(13 * var(--stagger-delay));
	padding-top: 33%;
	grid-area: codepen;
	background: #333333;

	background-size: 105%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	/* background-image: url("https://www.dropbox.com/s/kpvmdsraoey4l4s/codepenTitle.png?dl=1"); */
}

#codepen img {
	opacity: 0;
}

#codepen:hover {
	background-image: url("https://www.dropbox.com/s/u85vyigz7e7w6sh/codepen.png?dl=1");
}

#footer {
	text-align: center;
	grid-area: footer;
	background-color: white;
}

img {
	width: 100%;
	height: auto;
}

.beerpongBG {
	background: #696969;
}

.influenceBG {
	background: #6e6e00;
}

.githubBG {
	background: #1d3670;
}

.codepenBG {
	background: #222222;
}

#contact {
	/* background-color: red; */
	grid-area: contact;
	font-size: 1em;
	color: white;
}

p {
	font-size: 2em;
}
h2 {
	font-size: 3em;
}
a{
	padding: 5px;
}
a:link {
	text-decoration: none;
	color: white;
}
a:visited {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: white;
}
a:focus {
	text-decoration: none;
	color: white;
}
a:hover,
a:active {
	text-decoration: none;
	color: darkgray;
}

.collapsible {
	cursor: pointer;
	border: none;
	text-align: left;
	outline: none;
	color: white;
	background-color: transparent;
	font-size: 1em;
  }

.collapsible:hover{
	color: darkgray;
}

  .content {
	  padding: 0;
	  margin: 0 35px;
	max-height: 0;
	font-size: 12px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }
  
  .collapsiblePhoto {
	cursor: pointer;
	border: none;
	text-align: left;
	outline: none;
	color: white;
	background-color: transparent;
	font-size: 1em;
  }
  
  .photoInfo .closebtn {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 36px;
  }

  /* The information once title is clicked */

  .photoInfo{
	  animation: cardEntrance 500ms ease-out;
	background-color: #333333;

	color: white;
	width: auto;
	height: auto;
	grid-area: codepen;
	--stagger-delay: 100ms;
	padding: 25px;

	/* height: 850px; */
}

.photoInfo h2{
	padding: 25px;
	font-size: 4em;
}

.photoInfo p{
	padding: 10px 50px;
}


  @keyframes cardEntrance {
	from {
	  opacity: 0;
	  transform: scale(0.3);
	  filter: hue-rotate(180deg);
	}
	to {
	  opacity: 1;
	  transform: scale(1);
	  filter: hue-rotate(0deg);
	}
  }
  
   /* starting tile photo */
  .photoTile{
	  	display: block;

	  	animation: cardEntrance 700ms ease-out;
  		animation-fill-mode: backwards;
  }
  

  #beerpongInfo{
	position: relative;
	display: none;
	
  }

  #influenceInfo{
	position: relative;
	display: none;
  }

  #githubInfo{
	position: relative;
	display: none;
  }

  #codepenInfo{
	position: relative;
	display: none;
  }

  .infoDescription{

	  margin-left: 25px;
	  /* background: blue; */
	  font-size: 24px;
  }

  .infoClickLink{
	  padding-left: 2em;
	  font-size: 24px;
	  /* background: red; */
  }
